<div class='container'>
  <% if(@pins.any?) %>
    <div class= "card-deck">
      <% @pins.each do |pin| %>
      <div class="d-flex">
        <div class="card">
          <div class="d-flex">
              <img src="http://loremflickr.com/320/150?random=4"/>
          </div>
          <div class="p-2">
            <h3 class="text-center white"><%= pin.title %></h3>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  <% else %>
    <h3>No pin found</h3>
  <% end %>
</div>
