<div class='container'>
  <% if(@pins.any?) %>
    <% @pins.each do |pin| %>
      <div class="card-deck">
        <div class="card">
          <div class="image">
            <img src="http://loremflickr.com/320/150?random=4"/>
          </div>
          <div class="card-inner">
            <h2><%= pin.title %></h2>
          </div>
        <% end %>
      </div>
    <% else %>
      <h3>No pin found</h3>
    <% end %>
</div>
