<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Pin</title>
    <meta name="description" content="Pin an application to create a pinboard for images found on the internet.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Rubik:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>
  <body>
    <header class="sticky-top mb-5 mb-sm-5">
      <div class="p-sm-3 p-3 bg-light clearfix">
        <div class="float-left pt-2">
          <h1 class="m-0 p-3">
            <a class="text-danger logo" href="/">Pin</a>
          </h1>
        </div>
        <div class="float-right py-sm-4 py-4 mr-5">
          <a href="user_new_path">
            <h5 class="text-dark">Account</h5>
          </a>
        </div>
      </div>
    </header>
      <%= yield %>
      <footer class="bg-dark mt-5 mt-sm-5 fixed-bottom">
        <div class="p-5 p-sm-5">
          <div class="clearfix ">
            <div class="float-left">
              <a href="/about.html">
                <h5 class="text-light">About</h5>
              </a>
            </div>
            <div class="float-right">
              <small class="text-muted">&copy; 2020</small>
            </div>
          </div>
        </div>
      </footer>
    </body>
  </html>
